-var pageTitle = 'Workflow - Homepage'
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    title #{pageTitle}
  body

    include components/header
  
    article.col-md-6 
      -var name = 'Estela'
      h1 #{name}

    article.col-md-6 
      -var name2 = 'Pamela'
      h1 #{name2}

  include components/footer


   
    

