$color: #F2F1EF;

body {
    background: $color;
    p {
        color: $color;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 3em;
        color: green;
    }
}

footer {
    background: red;
    color: purple;
    position: fixed;
    bottom: 0;
    width: 100%;
}