header
    .logo
        img(src='https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiNhMGxguzYAhWEvJAKHXrDCC0QjRwIBw&url=https%3A%2F%2Fwww.eso.org%2Fpublic%2Fchile%2Fproducts%2Flogos%2Falma-logo%2F&psig=AOvVaw3bTaBLviZSDAAHBGPYMwZR&ust=1516725890458089')
        h1 Bienvenidos